body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
.flex{
    display: flex;
}
header{
    flex-direction: row;
    background-color:#0e4b66;
    border-radius: 10px;
    height: 12rem;
    color: #fff;

}
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1%;
}
img{

    height: 8.2rem;
    width: auto;
    border-radius: 25% 10%;
    
}
p{
    line-height: normal;
    font-size: 12pt;
}

main{
    border-radius: 2px;  
    background-color:aliceblue;
    margin-top:2%;
    
}
main>section{
    background-color:azure;
    margin-top:1%;
    border-radius:10px;
}
main>section>div{
    font-size: 11pt;
    margin-left: 3%;
    justify-content: space-between;

}
main>section>h2{
    font-size: 14pt;
    font-weight: bold;
    line-height: normal;
    margin-left: 1%;
    padding-top: 0.3%;
}
section>p{
    margin-left: 1%;
}
footer{
    background-color:azure;
    border-radius:10px;
    margin-top: 0.4%;
    margin-left: 2%;
}
footer>div{
    margin:0 1%;
    font-size:12pt;
}
